PORT=3000
DATABASE_PATH=./data/nova-browser.db
SESSION_SECRET=OWIERJGKFDUJEHRNTYGJKVJHDENRJTGKJBHVNDSMERNTBGBJNMHGNTRBNFHVBNGFTRDJFHGBNTREDFG
MASTER_ADMIN_USERNAME=admin
MASTER_ADMIN_PASSWORD=password
MASTER_ADMIN_TOTP_SECRET=JSDNFKEWIHJBFSNDKFHBJESNFD
ENABLE_ERUDA_BY_DEFAULT=false
LIBCURL_TRANSPORT_PATH=/libcurl-transport-wrapper.mjs
WISP_PATH=/wisp/